.section-videos {
    margin-top: 1.75rem;

    &__grid {
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        gap: 1.75rem 0.875rem;


        @include breakpoint(sm) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @include breakpoint(lg) {
            margin-top: 1.25rem;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 5.5rem 1.125rem;
        }
    }
}